<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="dropdown">
            <button aria-expanded="false" aria-haspopup="true" class="btn bg-dark btn-primary dropdown-toggle"
                    data-toggle="dropdown" id="dropdownMenuButton">Manage Recipe
            </button>
            <div class="dropdown-menu bg-dark">
                <a (click)="onAddToShoppingList()" class="dropdown-item bg-dark text-white"> To shopping list </a>
                <a class="dropdown-item bg-dark text-white" [routerLink]="['/recipes', id, 'edit']"> Edit Recipe </a>
                <a class="dropdown-item bg-dark text-white" [routerLink]="['/recipes', id, 'edit']"> Delete Recipe </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li *ngFor="let element of recipe.ingredients" class="list-group-item bg-custom">
                {{element.name}} - {{element.amount}}
            </li>
        </ul>
    </div>
</div>
