<div class="row pb-4">
    <div class="col-12">
        <button [routerLink]="['/recipes', 'new']"
                class="btn btn-success w-100 bg-dark"> New Recipe </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="list-group">
            <app-recipe-item *ngFor="let element of recipes; let i = index"
                             [recipe]="element"
                             [index]="i"
                             style="cursor: pointer">
            </app-recipe-item>
        </div>
    </div>
</div>
