<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12">
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let element of recipes">
        <div class="float-left">
          <h4>{{element.name}}</h4>
          <p>{{element.description}}</p>
        </div>
        <span class="float-right">
        <img [src]="element.imagePath" class="img-fluid" alt="{{element.name}}" style="max-height: 100px">
      </span>
      </a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
